# Operating System Files

*.DS_Store
Thumbs.db
*~
.#*
#*
*#

# tanzu files #
.build-output

# Build Files #

bin
target
build/
.gradle
.mvn

# Eclipse Project Files #

.classpath
.project
.settings

# IDEA Files #

*.iml
*.ipr
*.iws
*.idea
.vscode

# Spring Bootstrap artifacts

dependency-reduced-pom.xml

mem*.db

README.html
conf/external-services/genai-service-binding.yml
conf/external-services/postgres-service-binding.yml
demo.sh
.tanzu/config/genai-service-binding.yml
.tanzu/config/httproute.yml
.tanzu/config/postgres-service-binding.yml
.tanzu/config/spring-metal.yml
